# Configuración de puertos
API_PORT=3030
FRONTEND_PORT=3031

# Configuración de CORS
# Para desarrollo: CORS_ORIGIN=*
# Para producción: CORS_ORIGIN=https://trackhelper.fromcolombiawithcoffees.com
CORS_ORIGIN=*

# Entorno
NODE_ENV=production

# Dominio de la aplicación
APP_DOMAIN=trackhelper.fromcolombiawithcoffees.com
